/* Add to your global CSS file */
.hover-scale {
  transition: transform 0.3s ease;
}


.hover-scale:hover {
  transform: scale(1.1);
}

/* Custom scrollbar for better UX */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hover-scale:hover {
  transform: scale(1.05);
}
.hover-scale-small:hover {
  transform: scale(1.1);
}
.avatar-uploader {
  position: absolute;
  bottom: 0;
  right: 0;
}
.ant-upload.ant-upload-select-picture-card {
  border: none;
  background: transparent;
}
